* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Naskh Arabic', serif;
}

body {
    margin: 20px;
    padding: 15px;
    background: linear-gradient(rgba(255,255,255,.50), rgba(255,255,255,.50)), url("../image/bac2.webp");
    background-size: cover;
    background-attachment: fixed;
    line-height: 2;
    transition: background 0.3s ease;
}

body.dark-mode {
    background: linear-gradient(rgba(18, 18, 18, 0.75), rgba(18, 18, 18, 0.75)), url("../image/bac2.webp");
    background-size: cover;
    background-attachment: fixed;
    color: #E0E0E0;
}

nav {
    background: linear-gradient(90deg, #1B4332, #14532d);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    padding: 15px 30px;
    margin: 15px;
    border-radius: 15px;
    position: sticky;
    top: 15px;
    z-index: 9999;
}

nav img {
    width: 80px;
    height: 80px;
    border-radius: 100px;
}

nav ul {
    display: flex;
    flex-direction: row-reverse;
    list-style: none;
    gap: 20px;
}

nav ul li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 25px;
    padding: 3px;
    border-radius: 6px;
}

nav ul li a:hover{
    color: #ffd166;
    transform: translateY(-8px);
    transition: 0.3s;
}

.container {
    background-color: white;
    padding: 25px;
    margin-top: 20px;
    border-radius: 15px;
}

.theme-switch {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 20px 0;
}

.theme-switch input[type="checkbox"] {
    display: none;
}

.switch-label {
    width: 60px;
    height: 30px;
    background-color: #ccc;
    border-radius: 50px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;
}

.switch-label::after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 24px;
    height: 24px;
    background-color: white;
    border-radius: 50px;
    transition: transform 0.3s;
}

.theme-switch input[type="checkbox"]:checked + .switch-label {
    background-color: #2D6A4F;
}

.theme-switch input[type="checkbox"]:checked + .switch-label::after {
    transform: translateX(30px);
}

.theme-switch .icon {
    font-size: 24px;
}


body.dark-mode .container {
    background-color: #1F2937;
}

h1 {
    color: #c2974b;
    text-align: center;
    margin-bottom: 30px;
}

body.dark-mode .container h1 {
    color: #FFE3A8;
}

.hadith-card {
    background-color: #f9f9f9;
    border: 3px solid #c2974b;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

body.dark-mode .container .hadith-card {
    background-color: #111827;
    border: 3px solid #a68140;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.hadith-text {
    font-size: 25px;
    color: #1B4332;
    margin-bottom: 10px;
    font-weight: bold;
}

body.dark-mode .container .hadith-text {
    color: #FFFFFF;
}

.hadith-source {
    color: #c2974b;
    font-size: 20px;
    text-align: left;
    font-style: italic;
}

body.dark-mode .container .hadith-source {
    color: #C5A059;
}

footer {
    background: linear-gradient(90deg, #1B4332, #14532d);
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 60px;
    font-size: 14px;
    line-height: 1.8;
    border-radius: 15px;
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        padding: 10px;
        margin: 5px;
    }
    nav ul {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        margin-top: 10px;
    }
    nav ul li a {
        font-size: 18px;
    }
}